@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #070B14;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #070B14;
}
::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00D4FF;
}